@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="~/API/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/API/js/jquery-ui.min.js"></script>
    <title>WEB API TEST</title>
</head>

<body bgcolor="#FFFFFF">
    <table border="0">
        <tr>
            <td>API Method</td>
            <td>
                <select id="cmbMethod" name="cmbMethod">
                    <option value="GET" selected>GET</option>
                    <option value="POST">POST</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>API Action</td>
            <td>
                <select id="cmbAction" name="cmbAction" onchange="showFields(this.value)">
                    <option value="SelectAll">Select All</option>
                    <option value="Select">Select</option>
                    <option value="Insert">Insert</option>
                    <option value="Update">Update</option>
                    <option value="Delete">Delete</option>
                </select>
            </td>
        </tr>
        <tr id="trTableName" >
            <td>Table Name</td>
            <td><input type="text" id="txtTableName" name="txtTableName"></td>
        </tr>
        <tr id="trFields" style="display:none;">
            <td>Fields</td>
            <td><input type="text" id="txtFields" name="txtFields"></td>
        </tr>
        <tr id="trValues" style="display:none;">
            <td>Values</td>
            <td><input type="text" id="txtValues" name="txtValues"></td>
        </tr>
        <tr id="trId" style="display:none;">
            <td>ID</td>
            <td><input type="text" id="txtId" name="txtId"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" id="btnSend" name="btnSend" value="SEND" onclick="APItest();"></td>
        </tr>
    </table>

    <br />

    <textarea type="text" id="txtResult" name="txtResult" rows="10" style="width:60%;"></textarea>

    <script>
        function showFields(action) {
            $("#trFields, #trValues, #trId").hide();

            if (action === "SelectAll") {
                $("#trTableName").show();
            } else if (action === "Select") {
                $("#trTableName, #trFields, #trValues").show();
            } else if (action === "Insert") {
                $("#trTableName, #trFields, #trValues").show();
            } else if (action === "Update") {
                $("#trTableName, #trFields, #trValues, #trId").show();
            } else if (action === "Delete") {
                $("#trTableName, #trId").show();
            }
        }

        function APItest() {
            let apiURL = $('#cmbAction').val();
            let apiMethod = $('#cmbMethod').val();
            let apiAction = $('#cmbAction').val();
            let apiArgs = {};

            if (apiAction === "SelectAll" || apiAction === "Delete") {
                apiArgs.TableName = $('#txtTableName').val();
                apiArgs.id = $('#txtId').val();
            } else if (apiAction === "Select" || apiAction === "Insert") {
                apiArgs.tableName = $('#txtTableName').val();
                apiArgs.fields = $('#txtFields').val();
                apiArgs.values = $('#txtValues').val();
            } else if (apiAction === "Update") {
                apiArgs.tableName = $('#txtTableName').val();
                apiArgs.fields = $('#txtFields').val();
                apiArgs.values = $('#txtValues').val();
                apiArgs.id = $('#txtId').val();
            }

            $('#txtResult').val('');

            $.ajax({
                url: apiURL,
                data: apiArgs,
                type: apiMethod,
                success: function (result) {
                    $('#txtResult').val(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('API 發送錯誤：' + xhr.status);
                }
            });
        }
    </script>
</body>
</html>
